﻿<%@ Master Language="VB" CodeFile="FullPage.master.vb" Inherits="FullPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="icon" type="image/ico" href="img/favicon.ico">

    <!-- Reset -->
    <link rel="stylesheet" type="text/css" href="style/reset.css" />
    <!-- Main Style File -->
    <link rel="stylesheet" type="text/css" href="style/root.css" />
    <!-- Grid Styles -->
    <link rel="stylesheet" type="text/css" href="style/grid.css" />
    <!-- Typography Elements -->
    <link rel="stylesheet" type="text/css" href="style/typography.css" />
    <!-- Jquery UI -->
    <link rel="stylesheet" type="text/css" href="style/jquery-ui.css" />
    <!-- Jquery Plugin Css Files Base -->
    <link rel="stylesheet" type="text/css" href="style/jquery-plugin-base.css" />
    <!-- Modal Alert-->
    <link href="style/x.msgAlert.css" rel="stylesheet" type="text/css" />

    <!--[if IE 7]>	  <link rel="stylesheet" type="text/css" href="style/ie7-style.css" />	<![endif]-->

    <!-- jquery base -->
    <script type="text/javascript" src='<%= ResolveClientUrl("~/js/jquery.min.js") %>'></script>
    <script type="text/javascript" src='<%= ResolveClientUrl("~/js/jquery-ui-1.8.11.custom.min.js") %>'></script>

    <script type="text/javascript" language="JavaScript">
        var msg = "¡El botón derecho está desactivado para este sitio !";

        function disableIE() {
            if (document.all) {
                //alert(msg);
                return false;
            }
        }

        function disableNS(e) {
            if (document.layers || (document.getElementById && !document.all)) {
                if (e.which == 2 || e.which == 3) {
                    //alert(msg);
                    return false;
                }
            }
        }

        if (document.layers) {
            document.captureEvents(Event.MOUSEDOWN);
            document.onmousedown = disableNS;
        } else {
            document.onmouseup = disableNS;
            document.oncontextmenu = disableIE;
        }

    </script>

    <!-- Processing Window & Z-Index Stuff -->
    <script type="text/javascript">
        function ShowProgressWindow() {
            setTimeout(function () {
                var modal = $('<div />');
                modal.addClass("modal");
                $('body').append(modal);
                var loading = $(".loading");
                loading.show();
                var top = Math.max($(window).height() / 2 - loading[0].offsetHeight / 2, 0);
                var left = Math.max($(window).width() / 2 - loading[0].offsetWidth / 2, 0);
                loading.css({ top: top, left: left });
            }, 200);
        }

        function SetZIndexUp() {
            $('#profilebox').css('z-index', 940);
        }

        function SetZIndexDown() {
            $('#profilebox').css('z-index', 700);
        }
    </script>

    <asp:ContentPlaceHolder ID="Head" runat="server">
    </asp:ContentPlaceHolder>

</head>
<body>
    <form id="frmMain" runat="server" autocomplete="off">
        <div class="wrapper">

            <!-- START HEADER -->
            <div id="header">

                <!-- logo -->
                <div class="logo">
                    <asp:Image ID="imgLogo" runat="server" ImageUrl="~/img/logo.png" alt="Polaris" />
                </div>

                <!-- Title -->
                <div class="titleBox">
                    <asp:Image runat="server" ImageUrl="~/img/LogoTxt.png" />
                </div>

                <div class="clear"></div>
            </div>
            <!-- END HEADER -->

            <!-- START MAIN -->
            <div id="mainfull">

                <!-- START PAGE -->
                <div id="pagefull">

                    <!-- start datebox -->
                    <div id="datebox" style="width: 190px; border-right: solid 1px gray; border-bottom: solid 1px gray">
                        <div class="in" style="text-align: center">
                            <b>
                                <asp:Label ID="lblDateTime" Font-Bold="False" runat="server"></asp:Label>
                            </b>
                        </div>
                    </div>
                    <!-- end datebox -->

                    <!-- START CONTENT -->
                    <div class="content">
                        <asp:ContentPlaceHolder ID="MainContent" runat="server">
                        </asp:ContentPlaceHolder>
                    </div>
                    <!-- END CONTENT -->

                </div>
                <!-- END PAGE -->

                <div class="clear"></div>

            </div>
            <!-- END MAIN -->

            <!-- START FOOTER -->
            <div id="footer">
                <div class="left-column">© Copyright 
                    <asp:Label ID="LblAnio" runat="server"></asp:Label>
&nbsp;- Todos los derechos reservados.</div>
                <div class="right-column">Plataforma Polaris</div>
            </div>
            <!-- END FOOTER -->

            <div style="height: 50px;"></div>

        </div>
    </form>

    <asp:ContentPlaceHolder ID="jsOutput" runat="server">
    </asp:ContentPlaceHolder>

    <div class="loading" id="loading" align="center">
        <img id="imgLoading" src="~/img/proccesing.gif" alt="Procesando..." runat="server" />
    </div>

</body>
</html>
