html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border-style: none;
    border-color: inherit;
    border-width: 0;
    margin: 0 0 0px 0px;
    padding: 0;
    outline: 0;
    font-size: 13px; text-decoration:none;
}

body { line-height: 1;
}

ol, ul { list-style: none; }
blockquote, q { quotes: none; }

/* focus style */
:focus, a:focus, a:active{ outline: 0; }

ins{ text-decoration: none; }
del{ text-decoration: line-through; }

/* table */
table{border-collapse: collapse; border-spacing: 0;}

/* clear */
.clear{clear:both;}
.clear-l{clear:left;}
.clear-r{clear:right;}