﻿
#navst {
    margin: 0;
    padding: 7px 6px 0;
    background: #7d7d7d url(img/gradient.png) repeat-x 0 -110px;
    line-height: 100%;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
}

    #navst li {
        margin: 0 5px;
        padding: 0 0 8px;
        float: left;
        position: relative;
        list-style: none;
    }


    /* main level link */
    #navst a {
        font-weight: bold;
        color: #e7e5e5;
        text-decoration: none;
        display: block;
        padding: 8px 20px;
        margin: 0;
        -webkit-border-radius: 1.6em;
        -moz-border-radius: 1.6em;
        text-shadow: 0 1px 1px rgba(0,0,0, .3);
    }

        #navst a:hover {
            background: #000;
            color: #fff;
        }

    /* main level link hover */
    #navst .current a, #nav li:hover > a {
        background: #666 url(img/gradient.png) repeat-x 0 -40px;
        color: #fff;
        border-top: solid 1px #50A2A3;
    }

    /* sub levels link hover */
    #navst ul li:hover a, #nav li:hover li a {
        background: none;
        border: none;
        color: #666;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

    #navst ul a:hover {
        background: #50A2A3 url(img/gradient.png) repeat-x 0 -100px !important;
        color: #fff !important;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        text-shadow: 0 1px 1px rgba(0,0,0, .1);
    }

    /* dropdown */
    #navst li:hover > ul {
        display: block;
    }

    /* level 2 list */
    #navst ul {
        display: none;
        margin: 0;
        padding: 0;
        width: 185px;
        position: absolute;
        top: 35px;
        left: 0;
        background: #333333 url(img/gradient.png) repeat-x 0 0;
        border: solid 1px #b4b4b4;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
        box-shadow: 0 1px 3px rgba(0,0,0, .3);
    }

        #navst ul li {
            float: none;
            margin: 0;
            padding: 0;
        }

        #navst ul a {
            font-weight: normal;
            text-shadow: 0 1px 0 #000;
        }

        /* level 3+ list */
        #navst ul ul {
            left: 181px;
            top: -3px;
        }

        /* rounded corners of first and last link */
        #navst ul li:first-child > a {
            -webkit-border-top-left-radius: 9px;
            -moz-border-radius-topleft: 9px;
            -webkit-border-top-right-radius: 9px;
            -moz-border-radius-topright: 9px;
        }

        #navst ul li:last-child > a {
            -webkit-border-bottom-left-radius: 9px;
            -moz-border-radius-bottomleft: 9px;
            -webkit-border-bottom-right-radius: 9px;
            -moz-border-radius-bottomright: 9px;
        }

    /* clearfix */
    #navst:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

#navst {
    display: inline-block;
}

html[xmlns] #navst {
    display: block;
}

* html #navst {
    height: 1%;
}
